{{define "base"}}
<!DOCTYPE html>
<html lang="en">

<head>
  <!-- SEO and compatibility -->
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- <link rel="shortcut icon" href="assets/ico.ico" /> -->
  {{block "description" .}}
  {{end}}
  <!-- imports -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://unpkg.com/htmx.org@1.9.0"
    integrity="sha384-aOxz9UdWG0yBiyrTwPeMibmaoq07/d3a96GCbb9x60f3mOt5zwkjdbcHFnKH8qls"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/frontend/css/style.css" />
  <link rel="stylesheet" href="/frontend/css/compatibility.css" />


</head>

<body>


  {{block "content_box" .}}

  {{end}}

  {{block "new" .}}

  {{end}}

  {{block "js" .}}

  {{end}}
</body>

</html>
{{end}}