{{template "base" .}}
{{define "description"}}
<meta name="description" content="My wireshark clone">
<title>Packy</title>
{{end}}

{{define "content_box"}}
</div>
<section class="controls">
  <form id="controls" enctype="multipart/form-data">
    <label class="interfaceSelection">Interface:</label>
    <input id="interfaceInput" class="interfaceSelection" name="interface" type="text" value="" />
    <select name="filter" id="protocols" multiple>
      <option value="none">none</option>
      <option value="tcp">tcp</option>
      <option value="udp">udp</option>
      <option value="arp">arp</option>
    </select>
    <div class="includeLength">
      <label for="includeLength">Include packet length</label>
      <input type="checkbox" name="includeLength" id="includeLength" checked>
    </div>
    <div class="saveMethod">
      <label for="save_method">Start saving packets</label>
      <input type="checkbox" name="save_method" id="save_method" onchange="showFileDialog(this.checked)" />
      <label id="savingToFileNotification"></label>
    </div>
    <div class="timer">
      <label for="timer">Timer</label>
      <input type="checkbox" name="timer" id="timer" onchange="startTimer(this.checked)" />
      <select name="timerSelection" id="timerSelection" style="visibility: hidden;">
        <option value="">select time</option>
        <option value="1">1 min</option>
        <option value="5">5 min</option>
        <option value="10">10 min</option>
        <option value="30">30 min</option>
        <option value="60">1 hour</option>
        <option value="120">2 hour</option>
      </select>
    </div>
  </form>
  <div class="mainControls">
    <button id="start">start</button>
    <button id="stop">stop</button>
    <button id="clear">clear</button>
    <button id="save">save</button>
    <input type="file" id="fileInput" style="display: none;" />
    <button id="pcapUpload">Open from File</button>
  </div>
  <h3>Status: <span id="status">Recovering unsaved packets...</span></h3>
  <h3 class="customizations">Customization: <span id="customization"></span></h3>
  <h3 id="tableView"></h3>
</section>

<div class="table-container">
  <table id="packetTable" class="packetTable">
    <thead
      style="position: sticky; z-index: 999; top: -0.1rem; background-color: rgb(17, 205, 234); border-radius: 5rem; opacity: 0.95;">
      <tr>
        <th>Interface</th>
        <th>Protocol</th>
        <th id="lengthRow">Length</th>
        <th>Source</th>
        <th>Destination</th>
        <th>Packet #</th>
        <th>Time</th>
      </tr>
    </thead>
    <tbody id="table-body">
    </tbody>
  </table>
</div>

<div id="popupContainer">
  <div id="popupBox">
    <div id="dragHandle"></div>
    <div id="popupContent">
      <button id="close">close</button>
      <h2>Packet #<span id="packetNumber"></span></h2>
      <h3 class="packetTypeContainer">Type:<span id="packetType"></span></h3>
      <h3 class="packetLengthContainer">Length:<span id="packetLength"></span> bytes</h3>
      <h3 class="packetSavedContainer">Saved:<span id="packetSaved"></span></h3>
      <details>
        <summary id="details" style="visibility: hidden;">View Host DNS information</summary>
        <div style="display: flex; justify-content: center; padding: 1rem;">
          <div style="text-align: center; padding: 0.5rem">
            <h4 id="packetDnsInformation"></h4>
          </div>
        </div>
      </details>
      <br>
      <br>
      <details>
        <summary>Packet Data</summary>
        <div id="packet-container" style="position: absolute; left: 1rem"></div>
      </details>
    </div>
  </div>
</div>

{{end}}

{{define "js"}}
<script src="/frontend/js/ui.js"></script>
<script src="/frontend/js/app.js"></script>
{{end}}